
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environments
.venv/
venv/

# ChromaDB (DO NOT COMMIT)
chroma.sqlite3
*/chroma.sqlite3
*/index/
*/index/**

# Models / caches
.cache/
models/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store


# PDFs / personal data
*.pdf
*.jpg
*.png
*.jpeg
*.tiff