Python 3.11.9
pip 25.3
pip opencv-python
pip pdf2image
pip paddlepaddle
pip paddleocr
pip unidecode
poppler

pip install langchain=="0.0.281" # Or a version recommended by the library
pip install langsmith==0.3.45
pip install langchain-core==1.2.5

pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu
pip install sentence-transformers chromadb langchain tqdm numpy llama-cpp-python
pip install sentence-transformers faiss-cpu numpy
pip install chromadb